/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100%; */
}
body{
    background-image: linear-gradient(71deg, #0A14C8, #75BFBF);
    height: 100%;
    width: 100%;
    /* display: inline-block; */
}

