<div class="Main-Container">
<div class="Container">
    <h4>Students Sign-Up</h4>
    <form>
      Username : <input type="text" placeholder="Enter Username"> 
      Phone-no : <input type="number" placeholder="Enter Tel-Number or Phone No"> 
      Gmail    : <input type="email" name="" id="" placeholder="Enter Gmail Address">
      password : <input type="password" placeholder="Enter Password">
      password : <input type="password" placeholder="Confirm Password">
      <button>Submit</button>
    </form>
  </div>
</div>
