
mat-form-field{
    width: 100%;
}
mat-card {
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}
mat-card-content{
    padding: 0 16px;    
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    gap: 20px; 

}
.detailContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}
.dateContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}
.extraDetailContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}
.headingContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2%;
    mat-card-header{
        width: 50%;
    }
    button{
        margin-right: 1%;
    width: 8%;
    }
}

mat-card-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}