<nav>
    <div class="logoContaienr">
        <img src="../../../assets/logo/Hotel-PNG-Image.png" alt="">
        <h2>Hotels</h2>
    </div>
    <div class="links">
        <!-- <button class="btn btn-primary">Home</button> -->
        <button class="btn btn-primary" (click)="navigateToHome()" *ngIf="!userIsRegister">Home</button>
        <button class="btn btn-primary" (click)="navigateToLogin()" *ngIf="!userIsRegister">log in/Sign up</button>
        <button class="btn btn-danger" (click)="navigateToBusinessHome()" *ngIf="!userIsRegister">Business Home</button>
        <button class="btn btn-danger" (click)="logout()" *ngIf="userIsRegister">Logout</button>
    </div>
</nav>