 <h1>Learning Angular</h1>
 <div class="container">
  <button (click)="AngularFundamentals()">Angular Fundamentals</button>
  <button routerLink="dataBinding">1 dataBinding </button>
  <button routerLink="components">2 components </button>
  <button routerLink="routing/route">3 Routing </button>
  <button (click)="directive()">4 Directive </button>
  <button (click)="forms()">4 Forms </button>
  <button (click)="servicess()">5 Services </button>
  <button (click)="lifeCycleHook()">5 lifeCycleHook </button>
  <button (click)="api()">5 api </button>
  <!-- <button routerLink="LearningAngular">Learning page</button> -->
  <button routerLink="/">home page</button>
  <!-- <button routerLink="students/studentLogIn">Go To Student Login Page</button> -->
 </div>  
 <!-- <app-sign-up></app-sign-up> -->
 <router-outlet></router-outlet>

