<section id="hero">
  <div class="container flex flex-col-reverse item-center px-6 mx-auto space-y-0 md:space-y-0 md:flex-row">
    <div class="flex flex-col text-center md:text-left item-center justify-center space-y-5 mt-5 md:mt-0 md:w-1/2"
      >
      <h1 class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-left text-darkGrayishBlue" data-aos="fade-right" data-aos-duration="800">
        Hi, I’m <span class="inline-block text-black" data-aos="fade-right" data-aos-duration="1000">Parag Unhale</span>
      </h1>
      <span class="text-brightRed text-2xl font-bold" data-aos="fade-right" data-aos-duration="1200">Web Developer</span>
      <p class="max-w-sm text-center text-darkGrayishBlue md:text-left capitalize" data-aos="fade-right" data-aos-duration="1500">
        I make responsive websites and web apps using diverse coding languages and libraries. Dive into my portfolio for
        a glimpse of seamless digital experiences!
      </p>
      <div class="flex justify-center gap-2 md:justify-start">
        <a href="#" class="p-3 px-6 pt-2 text-white bg-brightRed rounded-full hover:bg-brightRedLight" data-aos="fade-up-right" data-aos-duration="1600">
          Contact Me
        </a>
        <a href="#" class="p-3 px-6 pt-2 text-white bg-gray-800 rounded-full hover:bg-gray-600" data-aos="fade-up-left" data-aos-duration="1600">
          Download Cv
        </a>
      </div>
      <div id="socials-container" class="flex item-center justify-center md:justify-start gap-3" data-aos="zoom-in-up" data-aos-duration="1700">
        <!-- Add AOS attributes to each social icon for individual animations -->
        <img src="/assets/linkedin.png" alt="My LinkedIn profile" class="icon w-10 cursor-pointer scale"
        />
        <img src="/assets/github.png" alt="My GitHub profile" class="icon w-10 cursor-pointer scale" 
            />
        <img src="/assets/twitter.png" alt="My Twitter profile" class="icon w-10 cursor-pointer scale"
           />
      </div>
    </div>
    <div class="flex item-center justify-center md:w-1/2">
      <img src="../assets/profile-pic (17).png" class="w-60 md:w-auto" alt="" data-aos="fade-left"
        data-aos-duration="1500" />
    </div>
  </div>
</section>