<div class="Main-Container">
<div class="Container">
    <!-- //this is one way data binding interpolation for showing-->
    <h4>{{formTitle}}</h4>
    <form>
      Username : <input type="text" placeholder="Enter Username or Phone No" value={{username}} > 
       
      password : <input type="password" placeholder="Enter Password" value={{password}}>
      <button>LogIn</button>
    </form>
  </div>
  
  <div class="Container OneWayDataBinding">
    <h4>binding interpolation</h4>
  <p>Addition of 5 + 3  = {{testingInterpolation(5,3)}}</p>
  </div>
  
  <!-- // when we use Propert data binding for input in attribute make then in squarebracket -->
  <div class="Container Propert-Binding">
    <h4>Propert data binding</h4>
  <input style="width: 40%;" type="text" [value]='username'>
  <input type="radio" [checked]='gender'>
  </div>
  <div class="Container">
    <h4>handle input USing BInding</h4>
    <!-- // do not use this in input box  -->
    <input type="text" disabled={{isDisable}}>
    <input type="text" disabled="{{isDisable}}">
    <!-- // only use this -->
    <input type="text" [disabled]="isDisable">
  </div>
  
  <div class="Container Event Binding ">
    <h4>Event Binding</h4>
    <button (click)="testingEventBinding()">Click Me </button>
  </div>
  
  <!-- <div class="Container">
    <h1>Counter-App</h1>
    <h4>Count:{{count}}</h4>
    <div class="flex">
      <button (click)="handleDecrement()">-</button>
      <button (click)="handleReset()">Reset</button>
      <button (click)="handleIncrement()">+</button>
  </div>
  </div> -->
  
  <div class="Container Two-way-Data-Binding">
    <h4>Two Way data binding </h4>
    {{twoWayBInding}}
    <input type="text" [(ngModel)] ="twoWayBInding">
    <!-- when yu chage the input value they this value atomatic changes -->
  {{twoWayBInding}}
  </div>

  <h2>Learning Routing</h2>
  <!-- 1 way routing using html fil -->
<div class="Routing">
  <!-- <a routerLink ="login" class="Login">LoginPage</a> -->
  <div class="Routing-Container">
  <button (click)="loginComponent()">LoginPage</button>
  <button routerLink ="LearningAngular">Learning page</button>
  <button routerLink ="/">home page</button>
  <button routerLink="students/studentLogIn">Go To Student Login Page</button>
  <button routerLink="students/studentSignUp">Go To Student SignUp Page</button>
  <button routerLink="owner/ownerLogin">Owner Login</button>
  </div>
  <!-- <router-outlet></router-outlet> -->
  <!-- <router-outlet></router-outlet>  its an angular direcctive from router library and used to insert componant match by routes to be display on the screen -->

  <!-- 2 way to redirecting  from.ts file -->
  <!-- this is the best to routing  -->
  <button (click)="loginComponent()">login</button>
</div>
</div>

