<div class="w-full h-screen">
    <mat-form-field class="example-form-field w-full">
      <input matInput (keyup)="applyFilter($event)" placeholder="Search Hotels">
    </mat-form-field>
  
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let booking">{{ booking.id }}</td>
      </ng-container>
  
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
        <td mat-cell *matCellDef="let booking">{{ booking.fullName }}</td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let booking">{{ booking.email }}</td>
      </ng-container>
  
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
        <td mat-cell *matCellDef="let booking">{{ booking.phoneNumber }}</td>
      </ng-container>
  
      <ng-container matColumnDef="rooms">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rooms</th>
        <td mat-cell *matCellDef="let booking">{{ booking.rooms }}</td>
      </ng-container>
  
      <ng-container matColumnDef="dateCheckIn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Check-In</th>
        <td mat-cell *matCellDef="let booking">{{ booking.dateCheckIn | date }}</td>
      </ng-container>
  
      <ng-container matColumnDef="dateCheckOut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Check-Out</th>
        <td mat-cell *matCellDef="let booking">{{ booking.dateCheckOut | date }}</td>
      </ng-container>
  
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Price</th>
        <td mat-cell *matCellDef="let booking">{{ booking.totalPrice }}</td>
      </ng-container>
  
      <ng-container matColumnDef="hotelName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hotel Name</th>
        <td mat-cell *matCellDef="let booking">{{ booking.hotelName }}</td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let booking">
          <button mat-icon-button color="warn" (click)="deleteBooking(booking)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  