<!-- <header>
    <div class="grid grid-cols-3 px-16  bg-white  w-screen h-20 border-b-[1px] items-center fixed top-0">
        <img src="https://greenbnb.netlify.app/_next/static/media/airbnb_logo_belo.ed96db18.svg" alt=""
            class="h-16 w-28">
        <div class=" flex capitalize justify-evenly items-center border rounded-full shadow-md h-12  w-96 ">
            <button class="capitalize   border-r-2 text-sm font-medium px-4">anywhere</button>
            <button class="capitalize border-r-2 text-sm font-medium px-4">any week</button>
            <button class="capitalize text-gray-500 text-sm font-medium px-4">add Guest</button>
            <i class="fa-solid fa-magnifying-glass bg-green-500 text-white rounded-full p-2"></i>
        </div>
        <div class="flex items-center justify-end gap-8">
            <button>Airbub Your Home</button>
            <span class="material-symbols-outlined">
                language
            </span>
            <div
                class="flex justify-evenly items-center gap-2  rounded-full border shadow-md h-10 w-20 py-1.25 pr-1.25 pl-2">
                <i class="fa-solid fa-bars"></i>
                <button
                    class="bg-black text-white rounded-full text-center w-7 h-7 text-[10px] font-semibold">E</button>
            </div>
        </div>

    </div>

    <div class="flex w-screen justify-center  mt-20 items-center h-24 gap-4 mx-auto">
        <div class="flex items-center justify-center space-x-8 mt-4">
            <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2 w-32">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="icon "
                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z">
                    </path>
                    <path
                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z">
                    </path>
                    <path
                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z">
                    </path>
                </svg>
                <p class="text-sm font-normal"> All</p>
            </div>
            <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2 w-32">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="icon "
                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z">
                    </path>
                    <path
                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z">
                    </path>
                    <path
                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z">
                    </path>
                </svg>
                <p class="text-sm font-normal"> All</p>
            </div>
            <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2 w-32">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="icon "
                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z">
                    </path>
                    <path
                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z">
                    </path>
                    <path
                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z">
                    </path>
                </svg>
                <p class="text-sm font-normal"> All</p>
            </div>
            <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2 w-32">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="icon "
                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z">
                    </path>
                    <path
                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z">
                    </path>
                    <path
                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z">
                    </path>
                </svg>
                <p class="text-sm font-normal"> All</p>
            </div>
            <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2 w-32">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="icon "
                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z">
                    </path>
                    <path
                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z">
                    </path>
                    <path
                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z">
                    </path>
                </svg>
                <p class="text-sm font-normal"> All</p>
            </div>
            <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2 w-32">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="icon "
                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z">
                    </path>
                    <path
                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z">
                    </path>
                    <path
                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z">
                    </path>
                </svg>
                <p class="text-sm font-normal"> All</p>
            </div>
            <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2 w-32 ">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="icon "
                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z">
                    </path>
                    <path
                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z">
                    </path>
                    <path
                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z">
                    </path>
                </svg>
                <p class="text-sm font-normal"> All</p>
            </div>
            <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2 w-32">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="icon "
                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z">
                    </path>
                    <path
                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z">
                    </path>
                    <path
                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z">
                    </path>
                </svg>
                <p class="text-sm font-normal"> All</p>
            </div>
        </div>
        <div class="flex items-center justify-center">

            <span class="material-symbols-outlined ">
                arrow_circle_right
            </span>
        </div>

        <div class="flex  items-center justify-around rounded-xl p-2  shadow-md w-24 h-12 border-[1px]">
            <span class="material-symbols-outlined">
                tune
            </span>
            <p class="m-0 p-0">Filters</p>
        </div>
    </div>

</header>
<main class="container">

    <div class="grid grid-cols-4">
        <div class="flex flex-col h-96 w-72">
            <img src="https://greenbnb.netlify.app/_next/image?url=https%3A%2F%2Fa0.muscache.com%2Fim%2Fpictures%2Fmiso%2FHosting-684037999279771074%2Foriginal%2Fc91618a6-c1c3-4f02-a3d7-5e578dee44af.jpeg%3Fim_w%3D720&w=640&q=75" alt="" class="w-72 h-64">
            <div class=" flex justify-between mt-2">
                <p class="font-bold">Stafford, Virginia  </p>
                <div class="flex">
                    <i class="fa-solid fa-star"></i>
                    <p>5</p>
                </div>
               
            </div>
            <div class="textcontent">
                <p>63 km away
                </p>
                <p>Quirky A-Frame In A Certified Wildlife Habitat</p>
                <p class="font-bold">49$ par night</p>
            </div>
        </div>
        <div class="flex flex-col h-96 w-72">
            <img src="https://greenbnb.netlify.app/_next/image?url=https%3A%2F%2Fa0.muscache.com%2Fim%2Fpictures%2Fmiso%2FHosting-684037999279771074%2Foriginal%2Fc91618a6-c1c3-4f02-a3d7-5e578dee44af.jpeg%3Fim_w%3D720&w=640&q=75" alt="" class="w-72 h-64">
            <div class=" flex justify-between mt-2">
                <p class="font-bold">Stafford, Virginia  </p>
                <div class="flex">
                    <i class="fa-solid fa-star"></i>
                    <p>5</p>
                </div>
               
            </div>
            <div class="textcontent">
                <p>63 km away
                </p>
                <p>Quirky A-Frame In A Certified Wildlife Habitat</p>
                <p class="font-bold">49$ par night</p>
            </div>
        </div>
        <div class="flex flex-col h-96 w-72">
            <img src="https://greenbnb.netlify.app/_next/image?url=https%3A%2F%2Fa0.muscache.com%2Fim%2Fpictures%2Fmiso%2FHosting-684037999279771074%2Foriginal%2Fc91618a6-c1c3-4f02-a3d7-5e578dee44af.jpeg%3Fim_w%3D720&w=640&q=75" alt="" class="w-72 h-64">
            <div class=" flex justify-between mt-2">
                <p class="font-bold">Stafford, Virginia  </p>
                <div class="flex">
                    <i class="fa-solid fa-star"></i>
                    <p>5</p>
                </div>
               
            </div>
            <div class="textcontent">
                <p>63 km away
                </p>
                <p>Quirky A-Frame In A Certified Wildlife Habitat</p>
                <p class="font-bold">49$ par night</p>
            </div>
        </div>
        <div class="flex flex-col h-96 w-72">
            <img src="https://greenbnb.netlify.app/_next/image?url=https%3A%2F%2Fa0.muscache.com%2Fim%2Fpictures%2Fmiso%2FHosting-684037999279771074%2Foriginal%2Fc91618a6-c1c3-4f02-a3d7-5e578dee44af.jpeg%3Fim_w%3D720&w=640&q=75" alt="" class="w-72 h-64">
            <div class=" flex justify-between mt-2">
                <p class="font-bold">Stafford, Virginia  </p>
                <div class="flex">
                    <i class="fa-solid fa-star"></i>
                    <p>5</p>
                </div>
               
            </div>
            <div class="textcontent">
                <p>63 km away
                </p>
                <p>Quirky A-Frame In A Certified Wildlife Habitat</p>
                <p class="font-bold">49$ par night</p>
            </div>
        </div>
        <div class="flex flex-col h-96 w-72">
            <img src="https://greenbnb.netlify.app/_next/image?url=https%3A%2F%2Fa0.muscache.com%2Fim%2Fpictures%2Fmiso%2FHosting-684037999279771074%2Foriginal%2Fc91618a6-c1c3-4f02-a3d7-5e578dee44af.jpeg%3Fim_w%3D720&w=640&q=75" alt="" class="w-72 h-64">
            <div class=" flex justify-between mt-2">
                <p class="font-bold">Stafford, Virginia  </p>
                <div class="flex">
                    <i class="fa-solid fa-star"></i>
                    <p>5</p>
                </div>
               
            </div>
            <div class="textcontent">
                <p>63 km away
                </p>
                <p>Quirky A-Frame In A Certified Wildlife Habitat</p>
                <p class="font-bold">49$ par night</p>
            </div>
        </div>
        <div class="flex flex-col h-96 w-72">
            <img src="https://greenbnb.netlify.app/_next/image?url=https%3A%2F%2Fa0.muscache.com%2Fim%2Fpictures%2Fmiso%2FHosting-684037999279771074%2Foriginal%2Fc91618a6-c1c3-4f02-a3d7-5e578dee44af.jpeg%3Fim_w%3D720&w=640&q=75" alt="" class="w-72 h-64">
            <div class=" flex justify-between mt-2">
                <p class="font-bold">Stafford, Virginia  </p>
                <div class="flex">
                    <i class="fa-solid fa-star"></i>
                    <p>5</p>
                </div>
               
            </div>
            <div class="textcontent">
                <p>63 km away
                </p>
                <p>Quirky A-Frame In A Certified Wildlife Habitat</p>
                <p class="font-bold">49$ par night</p>
            </div>
        </div>
        <div class="flex flex-col h-96 w-72">
            <img src="https://greenbnb.netlify.app/_next/image?url=https%3A%2F%2Fa0.muscache.com%2Fim%2Fpictures%2Fmiso%2FHosting-684037999279771074%2Foriginal%2Fc91618a6-c1c3-4f02-a3d7-5e578dee44af.jpeg%3Fim_w%3D720&w=640&q=75" alt="" class="w-72 h-64">
            <div class=" flex justify-between mt-2">
                <p class="font-bold">Stafford, Virginia  </p>
                <div class="flex">
                    <i class="fa-solid fa-star"></i>
                    <p>5</p>
                </div>
               
            </div>
            <div class="textcontent">
                <p>63 km away
                </p>
                <p>Quirky A-Frame In A Certified Wildlife Habitat</p>
                <p class="font-bold">49$ par night</p>
            </div>
        </div>
        <div class="flex flex-col h-96 w-72">
            <img src="https://greenbnb.netlify.app/_next/image?url=https%3A%2F%2Fa0.muscache.com%2Fim%2Fpictures%2Fmiso%2FHosting-684037999279771074%2Foriginal%2Fc91618a6-c1c3-4f02-a3d7-5e578dee44af.jpeg%3Fim_w%3D720&w=640&q=75" alt="" class="w-72 h-64">
            <div class=" flex justify-between mt-2">
                <p class="font-bold">Stafford, Virginia  </p>
                <div class="flex">
                    <i class="fa-solid fa-star"></i>
                    <p>5</p>
                </div>
               
            </div>
            <div class="textcontent">
                <p>63 km away
                </p>
                <p>Quirky A-Frame In A Certified Wildlife Habitat</p>
                <p class="font-bold">49$ par night</p>
            </div>
        </div>
        <div class="flex flex-col h-96 w-72">
            <img src="https://greenbnb.netlify.app/_next/image?url=https%3A%2F%2Fa0.muscache.com%2Fim%2Fpictures%2Fmiso%2FHosting-684037999279771074%2Foriginal%2Fc91618a6-c1c3-4f02-a3d7-5e578dee44af.jpeg%3Fim_w%3D720&w=640&q=75" alt="" class="w-72 h-64">
            <div class=" flex justify-between mt-2">
                <p class="font-bold">Stafford, Virginia  </p>
                <div class="flex">
                    <i class="fa-solid fa-star"></i>
                    <p>5</p>
                </div>
               
            </div>
            <div class="textcontent">
                <p>63 km away
                </p>
                <p>Quirky A-Frame In A Certified Wildlife Habitat</p>
                <p class="font-bold">49$ par night</p>
            </div>
        </div>
        <div class="flex flex-col h-96 w-72">
            <img src="https://greenbnb.netlify.app/_next/image?url=https%3A%2F%2Fa0.muscache.com%2Fim%2Fpictures%2Fmiso%2FHosting-684037999279771074%2Foriginal%2Fc91618a6-c1c3-4f02-a3d7-5e578dee44af.jpeg%3Fim_w%3D720&w=640&q=75" alt="" class="w-72 h-64">
            <div class=" flex justify-between mt-2">
                <p class="font-bold">Stafford, Virginia  </p>
                <div class="flex">
                    <i class="fa-solid fa-star"></i>
                    <p>5</p>
                </div>
               
            </div>
            <div class="textcontent">
                <p>63 km away
                </p>
                <p>Quirky A-Frame In A Certified Wildlife Habitat</p>
                <p class="font-bold">49$ par night</p>
            </div>
        </div>
        <div class="flex flex-col h-96 w-72">
            <img src="https://greenbnb.netlify.app/_next/image?url=https%3A%2F%2Fa0.muscache.com%2Fim%2Fpictures%2Fmiso%2FHosting-684037999279771074%2Foriginal%2Fc91618a6-c1c3-4f02-a3d7-5e578dee44af.jpeg%3Fim_w%3D720&w=640&q=75" alt="" class="w-72 h-64">
            <div class=" flex justify-between mt-2">
                <p class="font-bold">Stafford, Virginia  </p>
                <div class="flex">
                    <i class="fa-solid fa-star"></i>
                    <p>5</p>
                </div>
               
            </div>
            <div class="textcontent">
                <p>63 km away
                </p>
                <p>Quirky A-Frame In A Certified Wildlife Habitat</p>
                <p class="font-bold">49$ par night</p>
            </div>
        </div>
        <div class="flex flex-col h-96 w-72">
            <img src="https://greenbnb.netlify.app/_next/image?url=https%3A%2F%2Fa0.muscache.com%2Fim%2Fpictures%2Fmiso%2FHosting-684037999279771074%2Foriginal%2Fc91618a6-c1c3-4f02-a3d7-5e578dee44af.jpeg%3Fim_w%3D720&w=640&q=75" alt="" class="w-72 h-64">
            <div class=" flex justify-between mt-2">
                <p class="font-bold">Stafford, Virginia  </p>
                <div class="flex">
                    <i class="fa-solid fa-star"></i>
                    <p>5</p>
                </div>
               
            </div>
            <div class="textcontent">
                <p>63 km away
                </p>
                <p>Quirky A-Frame In A Certified Wildlife Habitat</p>
                <p class="font-bold">49$ par night</p>
            </div>
        </div>
        
    </div>

</main>
<footer class="flex justify-between h-12 items-center px-10 fixed bottom-0 bg-white">
    <div class="flex text-sm font-base space-x-2">
    <p>2023 aitnub ,inc</p>
    <p>.</p>
    <p>privacy</p>
    <p>.</p>
    <p>terms</p>
    <p>.</p>
    <p>sitemp</p>
    <p>.</p>
    <p>company detials</p>
    </div>
    <div class="flex">
        <span class="material-symbols-outlined">language</span>
        <p>English (in)</p>
        <p>INR</p>
        <p>support & resorces</p>
    </div>
</footer> -->