<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="/css/style.css">
    <nav class="navbar">
        <div class="nav-container">
            <div class="navbar-brand">
                <p class="navbar-name">Daily Journal</p>
            </div>
            <ul class="navbar-right">
                <li id="home" ><a href="/">Home</a></li>
                <li id="about" ><a href="/about">About Us</a></li>
                <li id="Contact" ><a href="/content">Contact Us</a></li>
                <li id="compose" ><a href="/compose">Compose Us</a></li>
            </ul>
        </div>
    </nav>
</head>
<body>
        <div class="container">
   